body {
  background-color: #23272a !important;
}

.Login-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

/* Hooks button */
.button {
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  box-sizing: content-box;
  margin: auto;
  width: 50%;
  border-radius: 24px;
  border-color: transparent;
  background-color: #2c2f33;
  /* box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1); */
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
  vertical-align: top;
  margin-left: 20px;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 5px;
  align-items: center;
}

.Logout-card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto auto auto;
  width: 20%;
}